* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #292b2c;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 3px solid orangered;

}

.container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background-color: white;
  box-shadow: 0 30px 50px #141428;
}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 5px 30px black;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}
.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
  color: orangered;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
  color: wheat;
}

.content button {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: #ababab;
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0, 3s ease;
  transition: 0.5s ease;
}
.logo:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered, 0 0 50px orangered;
  transform: scale(1.1);
}

span {
  color: orangered;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  padding: 5px 0;
  transition: 0.3s ease;
}

.navbar a::before {
  content: '';
  background-color: #c21b1b;
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .8s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:active {
  color: orangered;
  border-bottom: 3px solid orangered;
}

.contact {
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}

.contact:hover {
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  color: white;
}

.judul {
  background-color: #141428;
  display: flex;
  align-items: center;
  padding-top: 60%;
}
 
.judul h3 {
  letter-spacing: 1px;
  color: #eee;
  position: relative;
  width: 100%;
  height: 10%;
  left: 700px;
  font-weight: bold;
  font-size: 25px;
}

.judul h1 {
  letter-spacing: 1px;
  color: orangered;
  position: relative;
  width: 100%;
  height: 10%;
  left: 700px;
  font-weight: bold;
}

.judul p {
  font-size: 20px;
  color: #eee;
  position: relative;
  width: 90%;
  height: 10%;
  left: 700px;
}

.about-img img {
  position: relative;
  width: 550px;
  box-shadow: 0 0 15px black, 0 0 30px black;
  border-radius: 10%;
  right: 600px;
  bottom: 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 8%;
}

footer {
  color: white;
  font-size: 25px;
  background-color: #000;
  padding-top: 70px;
  text-align: center;
}

